if SHIELD_SWEEPLE_DONGLE
    config ZMK_KEYBOARD_NAME
        default "Sweeple"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_DISPLAY
        select LV_USE_CONT
        select LV_FONT_MONTSERRAT_26
        select LV_FONT_MONTSERRAT_16
        select LV_USE_LABEL
        select LV_USE_IMG

    config I2C
    	default y

    config SSD1306
    	default y

    config SSD1306_REVERSE_MODE
        bool
    	default n
endif

if SHIELD_SWEEPLE_LEFT || SHIELD_SWEEPLE_RIGHT || SHIELD_SWEEPLE_DONGLE
    config ZMK_SPLIT
        default y
endif
